#chip{
    padding: 0.4rem 0.8rem;
    border-radius: 20rem;
    color: rgb(31, 31, 31);
}

.super-low-security{
    background-color: #FF3434;
    border: 1px solid #F50000;
}

.low-security{
    background-color: #FF911C;
    border: 1px solid #E07400;
}

.normal-security{
    background-color: #FFEE03;
    border: 1px solid #CCBE00;
}

.high-security{
    background-color: #86C702;
    border: 1px solid #5F8D01;
}

.super-high-security{
    background-color: #0DA000;
    border: 1px solid #096600;
}