
.password-generator{
    width: 100%;
    height:calc(100vh - 54px);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    background-color: var(--secondary-color);
}

.generated-psw{
    display: flex;
    justify-content: center;
    background-color: aqua;
    justify-self: center;
    padding: 1rem;
    max-width: 1080px;
    min-width: 200px;
    margin: 0 auto;
}

.card {
    padding: 2em;
}

